main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.star {
    color:#DAA520;
}

.hidden {
    display: none;
}

.success-toast {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: #4CAF50 !important;
    color: #fff;
    border-radius: 20px;
}